.directory
.metadata/
.recommenders/
RemoteSystemsTempFiles/
Servers/
account-service/.classpath
account-service/.project
account-service/.settings/
account-service/.springBeans
account-service/target/
movie-service_BACKUP/
auth-service/target/
auth-service/.classpath
auth-service/.project
auth-service/.settings/
config/.classpath
config/.project
config/.settings/
config/target/
gateway/.classpath
gateway/.project
gateway/.settings/
gateway/target
monitoring/.classpath
monitoring/.project
monitoring/.settings
monitoring/target
movie-service/.classpath
movie-service/.project
movie-service/.settings
movie-service/.target
registry/.classpath
registry/.project
registry/.settings
registry/target
statistics-service/.classpath
statistics-service/.project
statistics-service/.settings
statistics-service/target
movie-service/.gitignore
movie-service/.mvn/
movie-service/mvnw
movie-service/mvnw.cmd

